# Drizzle
DATABASE_URL="postgres://root:mysecretpassword@localhost:5432/local"

ORIGIN=""

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""

# LiveKit
LIVEKIT_URL="ws://localhost:7880"
LIVEKIT_API_KEY=""
LIVEKIT_API_SECRET=""

# SeaweedFS Filer
SEAWEEDFS_FILER_URL="http://localhost:8888"

# Microsoft Entra ID
MICROSOFT_CLIENT_ID=""
MICROSOFT_CLIENT_SECRET=""
MICROSOFT_TENANT_ID=""

# Admin (comma-separated emails)
ADMIN_EMAILS=""
